UIElementsSchema/UnityEditor.VFX.UI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.VFX.UI" elementFormDefault="qualified" targetNamespace="UnityEditor.VFX.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="VFXBoundsSelectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXBoundsSelector" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:VFXBoundsSelectorType" />
  <xs:complexType name="VFXComponentBoardBoundsSystemUIType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXComponentBoardBoundsSystemUI" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:VFXComponentBoardBoundsSystemUIType" />
  <xs:complexType name="VFXComponentBoardEventUIType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXComponentBoardEventUI" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:VFXComponentBoardEventUIType" />
  <xs:complexType name="VFXSystemBorderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXSystemBorder" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:VFXSystemBorderType" />
  <xs:complexType name="VFXContextBorderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:ImmediateModeElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXContextBorder" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:ImmediateModeElement" type="tns:VFXContextBorderType" />
  <xs:complexType name="VFXBoundsRecorderFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VFXBoundsRecorderField" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:VFXBoundsRecorderFieldType" />
</xs:schema>